@import '../styles/variables';

.settings-header {
  margin-bottom: 25px;
}
.page-toggle {
  display: inline-block;
  padding: 10px;
  border: 1px solid $darkgrey;
  color: $darkgrey;
  border-radius: $radius-default;
  margin-bottom: 25px;
  input {
    margin-right: 10px;
  }
  &:hover {
    cursor: pointer;
  }
}
.num-pages-label {
  margin-bottom: 10px;
}
.num-pages {
  display: inline-block;
  padding: 10px 12px 10px 10px;
  cursor: pointer;
  border: 1px solid $darkgrey;
  border-radius: $radius-default;
  color: $darkgrey;
  margin-right: 7px;
  input {
    transform: translateY(-1px);
    margin-top: -20px;
    cursor: pointer;
    margin-right: 10px;
  }
  span {
    display: inline-block;
    margin-bottom: -2px;
  }
}
.active-label {
  color: $sapphire;
  border: 1px solid $sapphire;
  background: $pale-sapphire;
}
.done {
  margin-top: 25px;
}
