// colors
$ruby: #ff4477;
$sapphire: #4477ff;
$black: #000000;
$offblack: #3f3f3f;
$darkgrey: #808080;
$mediumgrey: #afafaf;
$lightgrey: #d3d3d3;
$offwhite: #f9f9f9;
$white: #ffffff;

// borders
$input-border: 2px solid $lightgrey;
$list-item-border: 1px solid $lightgrey;

// fonts sizes
$heavy: 700;
$regular: 400;
